<div class="content">
  <iframe width="100%" height="100%" src="https://sdk-dsv.mimo.com.br/0.0.1/embed/player.html?liveId=1ecac409-578b-69bc-a057-029ddc16cab6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
  <!-- <div class="box">
    <input type="text" placeholder="Digite seu Nome" [(ngModel)]="name">
    <div class="options">
      <div class="create">
        <label>Crie uma nova Sala:</label>
        <input type="text" placeholder="Nome da Sala" [(ngModel)]="roomName">
        <button (click)="createRoom()">Criar</button>
      </div>
      <div class="singin">
        <label>Entrar em uma sala:</label>
        <input type="text" placeholder="Código da Sala" [(ngModel)]="roomId">
        <button (click)="singIn()">Entrar</button>
      </div>
    </div>
  </div> -->
</div>